Repository second-hand-team-04/second-hand-max-be-a, pull requests merged in 2023-08, with the labels that each got.

#6 [BE] Api Response 클래스 구현 완료
  README.md
  src/main/java/com/codesquad/secondhand/api/ApiResponse.java
Labels: feat

#8 [BE] ResponseMessage 클래스 구현 완료
  src/main/java/com/codesquad/secondhand/api/ResponseMessage.java
Labels: feat

#9 [BE] 동네 목록을 응답하는 API 구현 완료
  src/main/java/com/codesquad/secondhand/api/ResponseMessage.java
  src/main/java/com/codesquad/secondhand/api/controller/region/RegionController.java
  src/main/java/com/codesquad/secondhand/api/service/region/RegionService.java
  src/main/java/com/codesquad/secondhand/api/service/region/response/RegionResponse.java
  src/main/java/com/codesquad/secondhand/api/service/region/response/RegionSliceResponse.java
  src/main/java/com/codesquad/secondhand/domain/category/Category.java
  src/main/java/com/codesquad/secondhand/domain/item/Item.java
  src/main/java/com/codesquad/secondhand/domain/region/Region.java
  src/main/java/com/codesquad/secondhand/domain/region/RegionRepository.java
  src/test/java/com/codesquad/secondhand/ControllerTestSupport.java
  src/test/java/com/codesquad/secondhand/FixtureFactory.java
  src/test/java/com/codesquad/secondhand/IntegrationTestSupport.java
  src/test/java/com/codesquad/secondhand/SecondHandApplicationTests.java
  src/test/java/com/codesquad/secondhand/api/controller/region/RegionControllerTest.java
  src/test/java/com/codesquad/secondhand/api/service/region/RegionServiceTest.java
  src/test/java/com/codesquad/secondhand/domain/region/RegionRepositoryTest.java
Labels: feat, test, week1

#10 카테고리 목록 조회 구현 완료
  src/main/java/com/codesquad/secondhand/api/controller/category/CategoryController.java
  src/main/java/com/codesquad/secondhand/api/service/category/CategoryService.java
  src/main/java/com/codesquad/secondhand/api/service/category/response/CategoryResponse.java
  src/main/java/com/codesquad/secondhand/domain/category/Category.java
  src/test/java/com/codesquad/secondhand/ControllerTestSupport.java
  src/test/java/com/codesquad/secondhand/FixtureFactory.java
  src/test/java/com/codesquad/secondhand/api/controller/category/CategoryControllerTest.java
  src/test/java/com/codesquad/secondhand/api/service/category/CategoryServiceTest.java
Labels: feat, test, week1

#11 사용자 동네 조회 / 등록 / 삭제 API 구현 완료
  src/main/java/com/codesquad/secondhand/api/ResponseMessage.java
  src/main/java/com/codesquad/secondhand/api/controller/region/RegionExceptionHandler.java
  src/main/java/com/codesquad/secondhand/api/controller/user/UserExceptionHandler.java
  src/main/java/com/codesquad/secondhand/api/controller/user_region/UserRegionController.java
  src/main/java/com/codesquad/secondhand/api/controller/user_region/UserRegionExceptionHandler.java
  src/main/java/com/codesquad/secondhand/api/controller/user_region/request/UserRegionCreateRequest.java
  src/main/java/com/codesquad/secondhand/api/service/region/exception/NoSuchRegionException.java
  src/main/java/com/codesquad/secondhand/api/service/user/exception/NoSuchUserException.java
  src/main/java/com/codesquad/secondhand/api/service/user_region/UserRegionService.java
  src/main/java/com/codesquad/secondhand/api/service/user_region/exception/DuplicatedUserRegionException.java
  src/main/java/com/codesquad/secondhand/api/service/user_region/exception/ExceedUserRegionLimitException.java
  src/main/java/com/codesquad/secondhand/api/service/user_region/exception/MinimumUserRegionViolationException.java
  src/main/java/com/codesquad/secondhand/api/service/user_region/exception/NoSuchUserRegionException.java
  src/main/java/com/codesquad/secondhand/api/service/user_region/request/UserRegionCreateServiceRequest.java
  src/main/java/com/codesquad/secondhand/api/service/user_region/response/UserRegionResponse.java
  src/main/java/com/codesquad/secondhand/domain/region/Region.java
  src/main/java/com/codesquad/secondhand/domain/user/MyRegion.java
  src/main/java/com/codesquad/secondhand/domain/user/User.java
  src/main/java/com/codesquad/secondhand/domain/user/UserRepository.java
  src/main/java/com/codesquad/secondhand/domain/user_region/UserRegion.java
  src/main/java/com/codesquad/secondhand/domain/user_region/UserRegionRepository.java
  src/test/java/com/codesquad/secondhand/ControllerTestSupport.java
  src/test/java/com/codesquad/secondhand/FixtureFactory.java
  src/test/java/com/codesquad/secondhand/api/controller/region/RegionControllerTest.java
  src/test/java/com/codesquad/secondhand/api/controller/user_region/UserRegionControllerTest.java
  src/test/java/com/codesquad/secondhand/api/service/region/RegionServiceTest.java
  src/test/java/com/codesquad/secondhand/domain/region/RegionRepositoryTest.java
  src/test/java/com/codesquad/secondhand/domain/user/UserTest.java
Labels: feat, test, week1

#26 동네 관련 API에 대한 피드백 반영 완료
  src/main/java/com/codesquad/secondhand/api/ApiResponse.java
  src/main/java/com/codesquad/secondhand/api/ResponseMessage.java
  src/main/java/com/codesquad/secondhand/api/controller/user_region/UserRegionController.java
  src/main/java/com/codesquad/secondhand/domain/user/MyRegion.java
  src/main/java/com/codesquad/secondhand/exception/common/CommonExceptionHandler.java
  src/main/java/com/codesquad/secondhand/exception/region/RegionExceptionHandler.java
  src/main/java/com/codesquad/secondhand/exception/user/UserExceptionHandler.java
  src/main/java/com/codesquad/secondhand/exception/user_region/UserRegionExceptionHandler.java
Labels: refactor, week2

#29 CORS 설정
  src/main/java/com/codesquad/secondhand/config/CorsConfig.java
Labels: feat, week2

#31 동네 목록 조회 API에 검색 기능 추가 구현 완료
  src/main/java/com/codesquad/secondhand/api/controller/region/RegionController.java
  src/main/java/com/codesquad/secondhand/api/service/region/RegionService.java
  src/main/java/com/codesquad/secondhand/domain/region/RegionRepository.java
  src/test/java/com/codesquad/secondhand/FixtureFactory.java
  src/test/java/com/codesquad/secondhand/api/service/region/RegionServiceTest.java
  src/test/java/com/codesquad/secondhand/domain/region/RegionRepositoryTest.java
Labels: feat, test, week2
